<template name="sortBy">
  <div class="row sort-by-container">
    <div class="col-md-3 col-md-offset-2 text-center sort-by">

      <!-- Showing All Gifts for {name} Tags Headers -->
      <div class="tags-header">
        <i class="fa fa-tags"></i>
        Showing all gifts for

        <div class="dropdown">
          <a data-toggle="dropdown" aria-expanded="false">
            <span id="selectedTag"> All Tags </span>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu">

            <li> <a href="/gifts/all"> All Tags</a></li>
            {{#each tags}}
              <li><a href="/gifts/for/{{name}}"> {{ name }}</a></li>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-md-offset-2 text-center sort-by">

      <!-- Sorted By -->
      <div class="sort-by-header">
        <i class="fa fa-sort"></i>
        Sort by

        <div class="dropdown">
          <a data-toggle="dropdown" aria-expanded="false">
            <span id="selectedSortBy"> Hottest </span>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <li> <a href="#"> Hottest </a></li>
            {{#each sortByOptions}}
              <li><a href="#"> {{ name}}</a></li>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
