<template name="sortBy">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center">

        Showing all gifts for
        <div class="dropdown" style="display: inline;">
          <a data-toggle="dropdown" aria-expanded="false" style="display: inline;"> All Tags </a>
          <div class="dropdown-menu">

            <li> <a href="#"> All Tags</a></li>
            <li> Gamers </li>
            <li> Artist </li>
            <li> Geeks </li>
          </div>
        </div>

    </div>
  </div>
</template>
