<template name="footer">

    <div class="footer-spacer"></div>
    <footer class="footer panel-footer">

        <div class="full-height">
            <div class="row">

                <div class="col-md-3">
                    <h4>Make a Gift List</h4>
                    Create gifts and then add your own personal hash tag to it.  Anyone who searches it will find what you want.

                    <br /><br />
                    <a href="/Gifts/For/MyHouseWarming" class="tag-link"> #KatesHouseWarming </a>
                </div>

                <div class="col-md-4 col-md-offset-1">
                    <h3 class="about-title"> What is this? </h3>
                    <p>
                        Gifts For X was created to help people find gift ideas for their friends and family based on who they are and what they do.
                    </p>
                    <p>
                        Each gift is created by someone, because of this you can find the gifts people actually want.
                    </p>
                    <p>
                        General or unique hashtags can be created or searched to find these gifts.
                    </p>
                    <p>
                        For example, just search popular hashtags like, Gifts for Girlfriend, Gifts for Boyfriend, Gifts for Dad, or Gifts for Mom.
                    </p>
                    <p><a href="/Gifts/FAQ" class="btn btn-primary btn-sm">FAQ &raquo;</a></p>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h4>Browse for yourself</h4>
                    Find some of the latest gifts you might enjoy yourself.
                    <br /><br /> Add gifts you think people with similar interest will enjoy.

                    <br /><br />
                    <a href="/Gifts/For/Techie" class="tag-link"> #Techie </a>
                    <a href="/Gifts/For/Techie" class="tag-link"> #Artist </a>
                </div>

            </div>
            <div class="absolute-bottom copyright text-center">
                <p>&copy; 2015 - Gifts For Xyz</p>
            </div>
        </div>


    </footer>
</template>