<template name="gift">


    <div class="card gift-card" gift-id="{{_id}}">

        <div class="card-content">
            <!-- Display Image -->
            <a href="{{directLink}} " class="card-link">
                <div class="card-image">

                        <img id="imageDisplay" src="{{imageUrl}}" alt="imageDisplay" class="gift-image" />

                        <!-- Display Name -->
                        <div class="card-title">
                            <label class="gift-name">
                                <p id="nameDisplay">
                                    {{ name }}
                                </p>
                            </label>
                        </div>
                </div>
            </a>

            <div class="card-support-text">
                <!-- Price -->
                <div>
                    <p>
                        <label id="priceDisplay" class="gift-price">
                        {{ priceFormated }}
                        </label>
                    </p>
                </div>

                <!-- Description -->
                <div class="gift-description">
                    <label id="descriptionDisplay" class="gift-description">
                        {{ description }}
                    </label>
                </div>

                <!--  Tags -->
                <div>
                    <label id="tagsDisplay" class="gift-tags">
                        {{#each tags}}
                            <a href="/gifts/for/{{this}}" >#{{ this }}</a>
                        {{/each}}
                    </label>
                </div>
            </div>

            <div class="card-action">
                    <a href="#">
                        <i class="down-vote fa fa-arrow-down" id="{{_id}}" ></i>
                    </a>

                    <a href="#">
                        <i class="up-vote fa fa-arrow-up" id="{{_id}}" ></i>
                    </a>

                    {{#if currentUser}}
                        <i class="fa fa-heart btn btn-default add-wishlist"></i>
                    {{/if}}
            </div>
        </div>

    </div>
</template>
