<template name="gift_edit">


    <div class="card gift-card edit">
      <form class="gift-edit">
        <div class="card-content">
            <!-- Display Image -->
            <input type="text" name="directLink" value="{{directLink}} ">
            <div class="card-image">

                    <img id="imageDisplay" src="{{imageUrl}}" alt="imageDisplay" class="gift-image" />

                    <!-- Display Name -->
                    <div class="card-title">
                        <label class="gift-name">
                            <input type="text" id="nameDisplay" name="name" value="{{name}}" />
                        </label>
                    </div>
            </div>

            <div class="card-support-text">
                <!-- Price -->
                <div>
                    <p>
                        <label id="priceDisplay" class="gift-price">
                        {{ priceFormated }}
                        </label>
                    </p>
                </div>

                <!-- Description -->
                <div class="gift-description">
                    <label id="descriptionDisplay" class="gift-description">
                        {{ description }}
                    </label>
                </div>

                <!--  Tags -->
                <div>
                  <input type="text" class="gift-tags" name="unparsedTags" value="{{unparsedTags}}"/>

                </div>
            </div>

            <div class="card-action">
                    <a href="#">
                        <i class="down-vote fa fa-arrow-down" id="{{_id}}" ></i>
                    </a>

                    <a href="#">
                        <i class="up-vote fa fa-arrow-up" id="{{_id}}" ></i>
                    </a>
            </div>

            <div class="edit-actions">
              <input type="submit" value="Save" name="save" class="btn btn-primary gift-edit" />
            </div>
        </div>
      </form>
    </div>
</template>
