<template name="gift">


    <div class="card gift-card">

        <div class="card-content">
            <!-- Display Image -->
            <a href="{{directLink}} ">
                <div class="card-image">

                        <img id="imageDisplay" src="{{imageUrl}}" alt="imageDisplay" class="gift-image" />

                        <!-- Display Name -->
                        <div class="card-title">
                            <label class="gift-name">
                                <p id="nameDisplay">
                                    {{ name }}
                                </p>
                            </label>
                        </div>
                </div>
            </a>

            <div class="card-support-text">
                <!-- Price -->
                <div>
                    <p>
                        <label id="priceDisplay" class="gift-price">
                        {{price}}
                        </label>
                    </p>
                </div>

                <!-- Description -->
                <div class="gift-description">
                    <label id="descriptionDisplay" class="gift-description">
                        {{ description }}
                    </label>
                </div>

                <!--  Tags -->
                <div>
                    <label id="tagsDisplay" class="gift-tags" ></label>
                </div>
            </div>

            <div class="card-action">
                    <span class="down-vote">
                        <a href="#"><i class="fa fa-arrow-down"></i></a>
                    </span>

                    <span class="up-vote">
                        <a href="#"><i class="fa fa-arrow-up"></i></a>
                    </span>
            </div>
        </div>

    </div>
</template>