<head>
  <title>Gifts For X</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gifts For X will help you find the perfect gifts for anyone. Create and recommend gifts based on interest you know. It's simple just search for the hash tag you want. Gifts for Girlfriend. Gifts for Boyfriend. Gifts for Techies. Gifts for Artist. Or something completely new.">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100' rel='stylesheet' type='text/css'>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css" rel="stylesheet">
</head>

<body>
</body>
