/* CSS declarations go here */
.scalable-image {
    max-width: 100%;
}
.home-search-form{
    max-width:290px;
}
.home-content {
    margin-top: 10%;
    margin-bottom: 10%;
}
.footer {
    bottom: 0;
    width: 100%;
    margin-top: 75px;
    color: rgba(0,0,0,0.5);
}
.footer-header {
    color: rgba(0,0,0,0.7);
}
.copyright{
    color: rgba(0, 0, 0,.3);
    font-size: smaller;
}