<template name="navbar">
	<nav class="page-navbar">
		<div class="row no-gutters">

			<div class="col-xs-2">
					<a class="brand hidden-xs hidden-sm" href="/">
	            {{> logo }}
	        </a>

					<a class="brand hidden-md hidden-lg" href="/">
						 {{> mobileLogo }}
					</a>
			</div>

			<div class="col-xs-8 col-md-7">
				<div class="search">
					<div class="row">
						<div class="col-xs-2">
							<i class="fa fa-search"></i>
						</div>
						<div class="col-xs-10">
							<input type="text" class="search" id="navSearch" placeholder="Runners" />
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 hidden-xs hidden-sm">
				<a href="/Gifts/Create" class="add-gift">
					<i class="fa fa-plus"></i> &nbsp; Add a Gift
				</a>
			</div>

			<div class="col-xs-2 hidden-md hidden-lg">
				<a href="/Gifts/Create" class="add-gift">
						<i class="fa fa-plus"></i>
				</a>
			</div>

		</div>
	</nav>
	{{> subNavBar }}
</template>
