@import "../variables.less";

nav.page-navbar {
    display:block;
    height:@navbar-height;
    background-color:white;

    overflow: hidden;

    div.search {
        float:left;
        i {
            font-size:2.4rem;
            line-height: @navbar-height;
            padding:0px 5px 0px 15px;
        }
        input.search {
            background-color:transparent;
            height:@navbar-height;
            border:0;
            font-size:2.4rem;
            &:focus {
                outline:0;
            }
            @media (max-width: @screen-md-min) {
              width: 80%;
            }
        }
    }


    a.brand {
        width: 100%;
        background-color:@navbar-brand-color;
        color:white;
        padding:0;
    }

    a.add-gift {
        float:right;
        background-color:@navbar-login-color;
        color:white;
        font-size:1.8rem;
        padding:0px 20px;
    }

    a {
        font-size:2.2rem;
        font-weight:400;
        padding:0px 15px;
        line-height: @navbar-height;
        display:block;
        float:left;
        font-family: @brand-font;
        color:#212121;

        span.x {
            color:white;
        }
        span.y {
            color:white;
        }
        span.z {
            color:white;
        }

        &:hover {
            text-decoration: none;
            transition:all 0.3s ease-out;
            box-shadow:0px -3px 4px inset #424242;
            background-color: @navbar-brand-color-hover;

            span.x {
                color: @brand-color-blue;
            }
            span.y {
                color: @brand-color-yellow;
            }
            span.z {
                color: @brand-color-red;
            }
        }
    }


}
