@import "../variables";

nav.page-sub-navbar {
    display:block;
    height:@sub_navbar-height;
    background-color:@sub_navbar-color;
    color:#424242;
    box-shadow:0px 2px 2px rgba(40, 40, 40, 0.2);

    a {
        font-size:1.3rem;
        font-weight:400;
        padding:0px 15px;
        line-height: @sub_navbar-height;
        display:block;
        float:left;
        font-family: @brand-font;
        color:@sub_navbar-text-color;

        &:hover {
            text-decoration: none;
            transition:all 0.2s ease-out;
            box-shadow:0px 3px 0px inset #424242;
            background-color: @navbar-brand-color-hover;
            color:#fff;
        }

        &:focus {
            text-decoration: none;
        }

        &.selected{
          background-color:@brand-color-yellow;
          color:#fff;
        }
    }

    #login-dropdown-list {
      list-style: none;
    }
    .dropdown-menu {
      position: absolute;
      left: 194px;
      top: 40px;
    }
}
